{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-filter-page" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-filter-page" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-description"  data-toggle="tab">{{ tab_description }}</a></li>
            <li><a href="#tab-images"       data-toggle="tab">{{ tab_image }}</a></li>
            <li><a href="#tab-faq"          data-toggle="tab">{{ tab_faq }}</a></li>
            <li><a href="#tab-how_to"        data-toggle="tab">{{ tab_how_to }}</a></li>
            <li><a href="#tab-footer"       data-toggle="tab">{{ tab_footer }}</a></li>
            <li><a href="#tab-keywords" data-toggle="tab">{{ tab_keywords }}</a></li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              {% for key, facetType in facetTypes %}
                <div class="form-group  {% if facetType.required %}required{% endif %}">
                  <label class="col-sm-2 control-label" for="{{ key }}">{{ facetType.title }}</label>
                  <div class="col-sm-10">

                    {# Autocomplete type #}
                    {% if facetType.searchType == 'autocomplete' %}
                      {# Selected items #}
                      <div class="niftySelected">
                        {% for facetGroups in filter_page_facet[facetType.facetType] %}
                          {% for row in facetGroups %}
                            <div class="niftyItem" data-id="{{ row.facet_value_id }}">
                              <span style="flex: 1"><b>{{ row.name }}</b> {% if row.group_name %} &#9656; {{ row.group_name }}{% endif %}</span>
                              <button style="padding: 0; line-height: 0; width: 25px; height: 25px;" type="button" class="btn btn-danger niftyItemDelete" onclick="this.closest('.niftyItem').remove()"><i class="fa fa-times"></i></button>
                              <input hidden name="filter_page_facet[{{ facetType.facetType }}][{{ row.facet_group_id }}][{{ row.facet_value_id }}]" value="{{ row.facet_value_id }}" />
                            </div>
                          {% endfor %}
                        {% endfor %}
                      </div>
                      {# Autocomplete input #}
                      <input 
                        id="{{ key }}" 
                        type="text" 
                        class="form-control niftyAutocomplete" 
                        placeholder="{{ facetType.title }}" 
                        data-facet-type="{{ facetType.facetType }}"
                      />

                    {% endif %}

                    {# Checkbox type #}
                    {% if facetType.searchType == 'checkbox' %}
                      <input style="all: revert" type="checkbox" name="filter_page_facet[{{ facetType.facetType }}][0][1]" {% if filter_page_facet[facetType.facetType] %}checked{% endif %} value="1" />
                    {% endif %}
                    
                    {# Errors #}
                    {# Error if category is not selected #}
                    {% if error_select_category and facetType.facetType == 1 %}
                      <div class="text-danger">{{ error_select_category }}</div>
                    {% endif %}
                    {# Error if no facet selected #}
                    {% if error_select_one_facet and facetType.facetType !== 1 %}
                      <div class="text-danger">{{ error_select_one_facet }}</div>
                    {% endif %}
                    {# Error if facet combination is not unique #}
                    {% if error_facet_not_unique and facetType.facetType !== 1 and filter_page_facet[facetType.facetType] %}
                      <div class="text-danger">{{ error_facet_not_unique }}</div>
                    {% endif %}
                    
                  </div>
                </div>
              {% endfor %}
            </div>

            {% set data        =  filter_page_description  %}
            {% set name_prefix = 'filter_page_description' %}
            <div class="tab-pane" id="tab-description">{% include "common/tab_description.twig" %}</div>
            <div class="tab-pane" id="tab-images">{% include "common/tab_images.twig"  with {name_prefix: 'filter_page_images', images: filter_page_images} %}</div>
            <div class="tab-pane" id="tab-footer">{% include "common/tab_footer.twig" %}</div>
            <div class="tab-pane" id="tab-faq">{% include "common/tab_faq.twig" %}</div>
            <div class="tab-pane" id="tab-how_to">{% include "common/tab_how_to.twig" %}</div>
            <div class="tab-pane" id="tab-keywords">{% include "common/tab_keywords.twig" %}</div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const inputs    = document.querySelectorAll('.niftyAutocomplete');
      const userToken = "{{ user_token }}";
      const productCountTitle = "{{ column_product_count }}";
      
      inputs.forEach(input => {        
        const autocomplete = new niftyAutocomplete({
          input,
          selectedItemsBox: input.previousElementSibling,
          idKey: 'facet_value_id',
          request: {
            url: `${location.protocol}${location.host}/admin/index.php?route=seo/filter_page/autocomplete`,
            // Set GET params
            getParams: {
              user_token: userToken,
            },
            // Set POST params of autocomplete
            postParams: {
              filters: () => {
                const selectedFacets = document.querySelectorAll('input[name^=filter_page_facet]');
                const formData = new FormData();
                if (selectedFacets.length) {
                  selectedFacets.forEach(facet => {
                    if (facet.type === 'text') {
                      formData.append(facet.name, facet.value);
                      formData.append('search[excludedIds][]', facet.value ?? '');
                    }
                    if (facet.type === 'checkbox' && facet.checked) {
                      formData.append(facet.name, facet.value);
                    }
                  });
                }
                formData.append('search[name]', input.value ?? '');
                
                formData.append('search[facet_type]', input.dataset.facetType);
                return formData;
              }
            }
          },
          item: {
            searchTemplate: (row) => `<div class="niftyItemData"><p><b>${row.name}${row.group_name ? " &#9656; " + row.group_name : ""}</b>&nbsp;${productCountTitle}:&nbsp;${row.count_product}</p></div>`,
            selectTemplate: (row) => `
              <div class="niftyItem" data-id="${row.facet_value_id}">
                <span style="flex: 1"><b>${row.name}${row.group_name ? " &#9656; " + row.group_name : ""}</b>&nbsp;${productCountTitle}:&nbsp;${row.count_product}</span>
                <button style="padding: 0; line-height: 0; width: 25px; height: 25px;" type="button" class="btn btn-danger niftyItemDelete"><i class="fa fa-times"></i></button>
                <input hidden name="filter_page_facet[${input.dataset.facetType}][${row.facet_group_id}][${row.facet_value_id}]" value="${row.facet_value_id}" />
              </div>
            `,
          },
          behavior: {
            clearSearchOnSelect: Boolean(input.dataset.facetType === "1"), // Only category (type == 1) is single-select, others are multi-select
            maxSelected: (input.dataset.facetType === "1") ? 1 : null // Only one selected category, others are unlimited
          }
        });
      });
    });
  </script>

  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  
  <script type="text/javascript" src="view/javascript/summernote/summernote.min.js"></script>
  <link href="view/javascript/summernote/summernote.min.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>  
  <script type="text/javascript">$('#language a:first').tab('show');</script>
</div>
{{ footer }}
