{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-filter-page" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-filter-page" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              {% for ket, facetType in facetTypes %}
                <div class="form-group  {% if facetType.required %}required{% endif %}">
                  <label class="col-sm-2 control-label" for="{{ key }}Autocomplete">{{ facetType.title }}</label>
                  <div class="col-sm-10">
                    {% if facetType.autocompleteUrl %}
                      <div class="niftySelected">
                      </div>
                      <input 
                        id="{{ key }}Autocomplete" 
                        type="text" 
                        class="form-control niftyAutocomplete" 
                        placeholder="{{ facetType.title }}" 
                        data-autocomplete-url="{{ facetType.autocompleteUrl }}" 
                        data-column-id="{{ facetType.columnId }}"
                        data-facet-type="{{ facetType.type }}"
                      />
                    {% else %}
                      <input type="checkbox" name="{{ key }}" value="1" />
                    {% endif %}
                    
                  </div>
                </div>
              {% endfor %}
            </div>
            {% set data        =  filter_page_description  %}
            {% set name_prefix = 'filter_page_description' %}
            <div class="tab-pane" id="tab-description">
              {% include "common/tab_description.twig" %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const inputs    = document.querySelectorAll('.niftyAutocomplete');
      const userToken = "{{ user_token }}";
      
      inputs.forEach(input => {        
        const autocomplete = new niftyAutocomplete({
          input,
          selectedItemsBox: input.previousElementSibling,
          idKey: input.dataset.columnId,
          request: {
            url: input.dataset.autocompleteUrl,
            getParams: {
              filter_name: () => input.value,
            }
          },
          item: {
            searchTemplate: (row) => `<div class="niftyItemData"><p><b>${row.name}</b></p></div>`,
            selectTemplate: (row) => `
              <div class="niftyItem" data-id="${row[input.dataset.columnId]}">
                <span><b>${row.name}</b></span>
                <button style="padding: 5px 8px;" type="button" class="btn btn-danger niftyItemDelete"><i class="fa fa-times"></i></button>
                <input name="filter_page_facet[${input.dataset.facetType}][]" value="${row[input.dataset.columnId]}" />
              </div>
            `,
          },
          behavior: {
            clearSearchOnSelect: Boolean(input.dataset.facetType === "1"), // Only category (type == 1) is single-select, others are multi-select
            maxSelected: (input.dataset.facetType === "1") ? 1 : null // Only one selected category, others are unlimited
          }
        });
      });
    });
  </script>

  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  
  <script type="text/javascript" src="view/javascript/summernote/summernote.min.js"></script>
  <link href="view/javascript/summernote/summernote.min.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>  
  <script type="text/javascript">$('#language a:first').tab('show');</script>
</div>
{{ footer }}
