{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ keywords_list }}</h1>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ keyword_groups }}</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12 keywordGroups">
          <div class="input-group">
            <input class="form-control" data-add-keyword-group type="text" placeholder="{{ input_add_keyword_group }}"/>
            <button class="btn btn-success addKeywordGroupBtn" type="button"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ keywords_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive tableWrapper">
          <table class="keywordTable table table-bordered table-hover">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="view/javascript/keywords.js"></script>
<script>
  const user_token = "{{ user_token }}";
</script>

<link href="view/stylesheet/nimbleTable.css" rel="stylesheet" />

<style>

  .tableWrapper tr.updatedRow {
    background-color: #ffca7f7a;
    &:hover {
      background-color: #ffc16799
    }
  }
  .tableWrapper tr.newRow {
    background-color: #56d42840;
    &:hover {
      background-color: #56d42857
    }
  }

  .tableWrapper tr.importedRow {
    background-color: #316dc84a;
    &:hover {
      background-color: #316dc857;
    }
  }

  .keywordGroups {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
      & .keywordGroup {
      display: flex;
      border-radius: 3px;
      /*! border: 1px solid #ddd; */
      overflow: hidden;
          & span {
        align-self: center;
        padding: 0 1rem;
        display: flex;
        height: 100%;
        border: 1px solid #ccc;
        border-right: none;
        border-radius: 3px 0 0 3px;
        align-items: center;
      }
}
  }

  [data-add-to-page] {
    display: none!important;
  }

</style>

{{ footer }}