{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ meta_editor }}</h1>
      <div>
        {% for breadcrumb in breadcrumbs %}
          {% if page_type == breadcrumb.type %}
            <span class="pageType active" >{{ breadcrumb.text }}</span>
          {% else %}
            <a  class="pageType" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {# {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} #}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ header_formaulas }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <form action="{{ fetchSaveFormulas }}" id="generateFormulas" method="post" enctype="multipart/form-data" class="fetchSaveForm">
            <table id="meta_editor_formulas" class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <td style="width: 45px"></td>
                  <td class="text-center">{{ column_formulas }}</td>
                  <td style="width: 50px"><button type="submit" form="generateFormulas" class="btn btn-warning" title="{{ button_save_all }}"><i class="fa fa-save"></i></button></td>
                </tr>
              </thead>
              <tbody>
                {% if formulas %}
                  {% for formula in formulas %}
                    <tr class="formula-row" data-row-index="{{ loop.index }}">
                      <td class="text-center"><input style="all: revert" type="radio" name="formulas[selected]" /></td>
                      <td>
                        <div class="input-group flex">
                          <input data-name="formula" value="{{ formula.generate_text }}" type="text" name="formulas[{{ loop.index }}][generate_text]" placeholder="{{ input_formula }}" class="form-control" />
                          <button type="button" onclick="parentElement.querySelector('[name*=&quot;generate_text&quot;]').value=''" class="btn btn-default"><i class="fa fa-times"></i></button>
                          <select class="form-control" data-name="target_field" name="formulas[{{ loop.index }}][target_field]" value="{{formula.target_field}}" style="min-width: 150px; max-width: 150px;">
                            {% for key, label in target_options %}
                              <option value="{{ key }}" {% if formula.target_field == key %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                          </select>
                          <select class="form-control" data-name="language_id" name="formulas[{{ loop.index }}][language_id]" style="min-width: 150px; max-width: 150px;">
                            {% for language in languages %}
                              <option value="{{ language.language_id }}" {% if formula.language_id == language.language_id %}selected{% endif %}>{{ language.name }}</option>
                            {% endfor %}
                          </select>
                          <select class="form-control" data-name="currency_id" name="formulas[{{ loop.index }}][currency_id]" style="min-width: 150px; max-width: 150px;">
                            {% for currency in currencies %}
                              <option value="{{ currency.currency_id }}" {% if formula.currency_id == currency.currency_id %}selected{% endif %}>{{ currency.title }}</option>
                            {% endfor %}
                          </select>
                          <button type="button" class="generateMeta btn btn-warning" title="{{ button_generate }}"><i class="fa fa-repeat"></i></button>
                        </div>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger deleteFormula" title="{{ button_remove_formula }}"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr class="formula-row" data-row-index="0">
                    <td class="text-center"><input style="all: revert" type="radio" name="formulas[selected]" /></td>
                    <td>
                      <div class="input-group flex">
                        <input data-name="formula" type="text" name="formulas[0][generate_text]" placeholder="{{ input_formula }}" class="form-control" />
                        <button type="button" onclick="parentElement.querySelector('[name*=&quot;generate_text&quot;]').value=''" class="btn btn-default"><i class="fa fa-times"></i></button>
                        <select class="form-control" data-name="target_field" name="formulas[0][target_field]" style="min-width: 150px; max-width: 150px;">
                          {% for key, label in target_options %}
                            <option value="{{ key }}">{{ label }}</option>
                          {% endfor %}
                        </select>
                        <select class="form-control" data-name="language_id" name="formulas[0][language_id]" style="min-width: 150px; max-width: 150px;">
                          {% for language in languages %}
                            <option value="{{ language.language_id }}">{{ language.name }}</option>
                          {% endfor %}
                        </select>
                        <select class="form-control" data-name="currency_id" name="formulas[0][currency_id]" style="min-width: 150px; max-width: 150px;">
                          {% for currency in currencies %}
                            <option value="{{ currency.currency_id }}">{{ currency.title }}</option>
                          {% endfor %}
                        </select>
                        <button type="button" class="generateMeta btn btn-warning" title="{{ button_generate }}"><i class="fa fa-repeat"></i></button>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="deleteFormula btn btn-danger" title="{{ button_remove_formula }}"><i class="fa fa-times"></i></button>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td><button type="button" class="addFormula btn btn-primary add_row" title="{{ button_add_formula }}"><i class="fa fa-plus-circle"></button></td>
                </tr>
              </tfoot>
            </table>
            <div class="alert alert-info">
              <p>{{ help_syntax_hint }}</p>
              <br>
              <a data-toggle="collapse" href="#collapseInstruction" class="btn btn-primary">
                {{ help_show_manual }}
              </a>
              <div id="collapseInstruction" class="panel-collapse collapse">
                <div class="panel-body">
                  {{ help_syntax_example }}
                  <br>
                  {{ help_tag_hint }}
                </div>
              </div>
            </div>
            <div class="message message-success fixed"></div>
            <div class="message message-error fixed"></div>
          </form>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading" style="display: flex; align-items: center; padding: 5px 16px;">
        <span class="panel-title" style="flex: 1"><i class="fa fa-list"></i> {{ meta_editor }}</span>
        <div class="progressBar_container">
          <label for="progressbar" class="progressLabel">0/0</label>
          <progress id="progressbar" class="progressBar" value="0" max=""></progress>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive tableWrapper">
          <table class="metaEditorTable table table-bordered table-hover table-striped">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script defer type="text/javascript" src="view/javascript/nimbleTable.js"></script>
<script defer type="text/javascript" src="view/javascript/batchloader.js"></script>
<script defer type="text/javascript" src="view/javascript/metaEditor.js"></script>
<script>
  const user_token = "{{ user_token }}";
  const pageType   = "{{ page_type }}";
  const columnId   = "{{ column_id }}";
  const pagesCount = {{ pages_count }};
</script>


<link href="view/stylesheet/nimbleTable.css" rel="stylesheet" />
<style>
  .tableWrapper {
    & tr.updated  {background: #d9edf780!important}
    & tr.hasError {background: #f5c1bb80!important}
    & tr.saved    {background: #cbeacb80!important}
    & tr {
      & .name {
        padding-bottom: 1rem;
        & span {
          font-weight: bold;
        }
      }
      & .langData {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 1rem;
        & .langFlag {
          flex: 0 1 auto;
          align-content: center;
        }
        & .langSeoData {
          flex: 1 1 auto;
          flex-wrap: wrap;
          display: flex;
          & .seoInputs {
            display: flex;
            flex: 1 0 100%;
            flex-wrap: wrap;
            /* gap: 1rem; */
          }
          & .seoInputs .input-group {
            flex: 1 0 100%;
          }
        }
        & .seoBadges {
          flex: 0 0 420px;
          justify-content: center;
          display: flex;
          gap: 1rem;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
        }
      }
    }
  }
  .message.fixed {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 91;
    max-height: 400px;
    width: 350px;
    overflow-y: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px #3337;
    border-radius: 3px;
    scrollbar-gutter: stable;
  }
  .message-success {
    scrollbar-color: gray #cbeacb;  
  }
  .message-error {
    scrollbar-color: gray #cbeacb;  
  }
  .message.fixed .alert {
    margin-bottom: 0;
  }
  #meta_editor_formulas {
     & button, & .btn {
      padding: 5px;
      min-width: 40px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      & i {font-size: 2rem}
    }
  }
  .pageType {
    font-size: 2rem;
    padding: 1rem 1rem 0 0;
  }
  .progressBar_container {
      position: relative;
      width: 200px
  }

  progress[value] {
    --color: linear-gradient(270deg,rgba(42, 155, 123, 1) 0%, rgba(30, 145, 207, 1) 100%);;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    border-radius: 3px;
    background: var(--color);
    height: 30px;
    vertical-align: bottom;
    display: inline-block;
  }

  progress[value]::-webkit-progress-bar {
    border-radius: 3px;
    background: var(--color);
  }

  progress[value]::-webkit-progress-value {
    border-radius: 3px;
    background: var(--color);
  }

  progress[value]::-moz-progress-bar {
    border-radius: 3px;
    background: var(--color);
  }

  .progressLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }
</style>

{{ footer }}