{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ meta_editor }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ meta_editor }}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive tableWrapper">
          <table class="metaEditorTable table table-bordered table-hover table-striped">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script defer type="text/javascript" src="view/javascript/nimbleTable.js"></script>
<script defer type="text/javascript" src="view/javascript/batchloader.js"></script>
<script defer type="text/javascript" src="view/javascript/metaEditor.js"></script>
<script>
  const user_token = "{{ user_token }}";
  const pageType   = "{{ page_type }}";
  const columnId   = "{{ column_id }}";
</script>

<link href="view/stylesheet/nimbleTable.css" rel="stylesheet" />
<style>
  .tableWrapper {
    & .langData {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      & .langFlag {
        flex: 0 1 auto;
        align-content: center;
      }
      & .langSeoData {
        flex: 1 1 auto;
        flex-wrap: wrap;
        display: flex;
        & .seoInputs {
          display: flex;
          flex: 1 0 100%;
          flex-wrap: wrap;
          /* gap: 1rem; */
        }
        & .seoInputs .input-group {
          flex: 1 0 100%;
        }
      }
      & .seoBadges {
        flex: 1 0 100%;
        justify-content: center;
        display: flex;
        gap: 1rem;
      }
    }
  }
</style>

{{ footer }}