{{ header }}
<div id="wrapper">
  {{ column_left }}
  <main role="main" id="main" class="flex column wrap">
    {# Category title and main links #}
    <hgroup class="flex row nowrap">
      <h1>{{ h1 }}</h1>
    </hgroup>
    {% if description %}
      <article role="article" id="category_description">{{ description }}</article>
    {% endif %}
    {{ content_top }}
    {# Subcategories #}
    {% if child_categories %}
      <span>{{ text_subcategories }}</span>
      <div id="subcategories" class="grid">
        {% for category in child_categories %}
          <div class="miniature">
            <a title="{{ category.name }}" href="{{ category.href }}">
              <img loading="lazy" src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" width="{{ category.width }}" height="{{ category.height }}"/>
              <span class="h5">{{ category.name }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {# Product list #}
    {% if products %}
      <div id="products" class="product grid" tabindex="0"> 
      {% for product in products %}
        {% include 'default/template/product/product_miniature.twig' %}
      {% endfor %} 
      </div>
      <div id="pagination">
        {% if pagination %}
          <div>{{ pagination }}</div>
        {% endif %}
        <div><span>{{ results }}</span></div>
      </div>
    {% endif %}
  </main>
  {{ column_right }}
</div>
{{ footer }} 