{{ header }}
{% include 'default/template/common/breadcrumbs.twig' %}
<div id="wrapper">
  {{ column_left }}
  <main role="main" id="main" class="flex column wrap">
    {# Category title and main links #}
    <hgroup class="flex row nowrap">
      <h1>{{ h1 }}</h1>
    </hgroup>
    {% if description %}
      <section role="region" aria-label="{{ aria_category_description }}" class="categoryDescription" id="categoryDescription">{{ description }}</section>
    {% endif %}
    {{ content_top }}
    {# Subcategories #}
    {% if child_categories %}
      <nav id="subcategories" class="grid" role="navigation" aria-label="{{ aria_child_categories }}">
        {% for category in child_categories %}
          <div class="miniature">
            <a title="{{ category.name }}" href="{{ category.href }}">
              <img loading="lazy" src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" width="{{ category.width }}" height="{{ category.height }}"/>
              <span class="h5 title">{{ category.name }}</span>
            </a>
          </div>
        {% endfor %}
      </nav>
    {% endif %}
    {# Product list #}
    {% if products %}
      <section id="products" class="product grid" tabindex="0" aria-label="{{ aria_product_list }}">
        {% for product in products %}
          {% include 'default/template/product/product_miniature.twig' %}
        {% endfor %} 
      </section>
      <div id="pagination" class="flex justify-center">
        {% if pagination %}
          <nav role="navigation" aria-label="{{ aria_pagination }}" id="pagination">{{ pagination }}</nav>
        {% endif %}
        <div><span>{{ results }}</span></div>
      </div>
    {% else %}
      <p>{{ text_no_products_in_category|format(name) }}</p>
    {% endif %}
    {% if seo_description %}
      <div role="complementary" class="categoryDescription" aria-label="{{ aria_seo_description }}">{{ seo_description }}</div>
    {% endif %}
    
    {% include "default/template/elements/faq.twig" with {faq: faq} %}

    </main>
  {{ column_right }}
</div>
{{ footer }} 