{{ header }}
{% include 'default/template/common/breadcrumbs.twig' %}
<div id="wrapper">
  {{ column_left }}
  <main role="main" id="product" data-product-id="{{ product_id }}" style="view-transition-name: i_{{ product_id }};">
    {{ content_top }}
    {# Header #}
    <hgroup class="flex row wrap align-center justify-space-between ">
      <div class="columnLeft flex row wrap">
        <h1 class="productName">{{ h1 }}</h1>
        {% include "default/template/elements/rating_stars.twig" %}
      </div>
      <div class="columnRight">
        <div class="scroll-x">
          <a class="button" href="#description" title="{{ tab_description }}">{{ tab_description }}</a>
          <a class="button" href="#images" title="{{ tab_images }}">{{ tab_images }}</a>
          <a class="button" href="#specification" title="{{ tab_attributes }}">{{ tab_attribute }}</a>
          <a class="button" href="#reviews" title="{{ tab_reviews|format(reviews) }}">{{ tab_reviews|format(reviews) }}</a>
          <a class="button" href="#related" title="{{ tab_related|format(related) }}">{{ tab_related|format(related) }}</a>
        </div>
      </div>
    </hgroup>

    <section class="productTop flex wrap row block">

      <div class="columnLeft">
        <div class="scroll-x snap single markers">
          {% for key, img in images.covers %}
            <figure>
              <img decoding="async" loading="lazy" src="{{ img.src }}" alt="{{ img.description }}" title="{{ img.description }}" width="{{ img.width }}" height="{{ img.height }}" />
            </figure>
          {% endfor %}
        </div>
      </div>
      <div class="columnRight flex column">
        <div class="columnLeft flex column gap">
          {% include "default/template/elements/product_prices.twig" with {product: _context} %}
          {% include "default/template/elements/product_options.twig" %}
          {% include "default/template/elements/product_buttons.twig" with {product: _context} %}
          {# Recurrings #}
        </div>
        <div class="columnRight">
          {% if manufacturerData %}
            <div class="flex column gap">
              <h4>{{ manufacturerData.name }}</h4>
              <img src="{{ manufacturerData.image }}" loading="lazy" />
              <a title="{{ manufacturer_parent_facet_title|format(manufacturerData.name, parentData.name) }}" href="{{ manufacturerData.facetLink }}">{{ manufacturer_parent_facet_format|format(manufacturerData.name, parentData.name) }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    {% if description %}
      <section id="description" class="block">
        <span class="h1">{{ tab_description }}</span>
        <article role="article">{{ description }}</article>
      </section>
    {% endif %}

    {% if attributes %}
      <section id="specification" class="block">
        <span class="h1">{{ tab_attributes }}</span>
        <table>
          <thead>
            <tr>
              <td colspan="3"><span class="h3">{{ product_attribute_table|format(name) }}</span></td>
            </tr>
          </thead>
          <tbody>
          {% for attribute in attributes %}
          <tr>
            <td colspan="1" rowspan="{{ atttibute.attribute|length }}">
              <span class="h5">{{ attribute.name }}
            </td>
            {% for attributeValue in attribute.attribute %}
              <td colspan="2" rowspan="1">
                {{ attributeValue.name }}
                {% if attribute.text %} - {{ attribute.text }}{% endif %}
              </td>
            {% endfor %}
          </tr> 
          {% endfor %}
          </tbody>
        </table>
      </section>
    {% endif %}
    
    {# Reviews #}
    {% if lastReviews %}
      <section id="reviews" class="block">
        <span class="h1">{{ tab_reviews|format(reviews) }}</span>
        {% for review in lastReviews %}
          <article class="review">
            <figure>
              <blockquote cite="https://example.com">
                <p>{{ review.review_text }}</p>
              </blockquote>
              <figcaption>
                <span class="author">{{ review.author }}</span>, 
                <time datetime="{{ review.review_date }}">{{ review.review_date }}</time>
              </figcaption>
            </figure>
            {% include "default/template/elements/rating_stars.twig" with {rating: review.review_rating, reviews: false} %}
          </article>

        {% endfor %}
      </section>
    {% endif %}
      
    {# Related products #}
    {% if relatedProducts %}
      <div class="module">
        <span class="h3">{{ tab_related|format(reviews) }}</span>
        <div id="related" class="scroll-x">
          {% for product in relatedProducts %}
            {% include 'default/template/product/product_miniature.twig' with {product: product} %}
          {% endfor %} 
        </div>
      </div>
    {% endif %}
    {{ content_bottom }}

    {% if seoDescription %}
      <div role="complementary" class="additionalInfo" aria-label="{{ aria_seo_description }}">{{ seoDescription }}</div>
    {% endif %}
  
  </main>
  {{ column_right }}
</div>
{% include "default/template/elements/seo_footer.twig" with {seoFooter: seoFooter} %}

{{ footer }} 
