{# {% cache %} #}
<article 
  role="article" 
  class="miniature"
  {% if product.special_date_end %}data-special-date-end="{{ product.special_date_end }}"{% endif %}
>
  <figure role="img" aria-label="{{ product.name }}">
    <a title="{{ product.name }}" href="{{ product.href }}">
      <img decoding="async" loading="lazy" src="{{ product.image.image }}" alt="{{ product.image.title }}" title="{{ product.image.title }}" width="{{product.imageWidth }}" height="{{product.imageHeight }}" />
    </a>
  </figure>
  {% if product.productFlags %}
  {% endif %}
  <div class="infos">
    <div class="caption">
      <span class="h3"><a title="{{ product.name }}" href="{{ product.href }}">{{ product.name }}</a></span>
      <p class="shortDescription">{{ product.shortDescription }}</p>
      
        {% if product.rating and product.rating > 0 %}
          <div aria-label="{{ aria_rating_label }}" title="{{ aria_rating_label }}">
            <div class="rating" role="presentation">
              {% for i in 1..5 %}
                {% if product.rating >= i %}
                  <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-star-filled"></use></svg>
                {% else %}
                  {%if product.rating -  i < 0 %}
                    <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-star-half"></use></svg>
                  {% else %}
                    <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-star-empty"></use></svg>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if count is defined and product.reviews > 0 %}
                <span class="reviews-count">({{ product.reviews }})</span>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% if product.price_value and product.price_value != 0 %}
        <p class="prices h3">
          {% if not product.special %}
            <span class="text-price">{{ text_price }}</span> {{ product.price }}
          {% else %} 
            <span class="text-price">{{ text_new_price }}</span>
            <span class="price-new">{{ product.special }}</span>
            <span class="price-old"><span class="text-price">{{ text_old_price }}</span> {{ product.price }}</span> 
          {% endif %}
          {% if product.tax %} 
            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> 
          {% endif %} 
        </p>
      {% endif %}
    </div>
    <div class="btn-group">
      <button type="button" 
        {% if product.price_value and product.price_value != 0 %} 
          data-action="cartAdd" 
          data-product_id="{{ product.product_id }}" 
          data-minimum_qty="{{ product.minimum }}" 
          aria-haspopup="dialog"
        {% else %}
          disabled
        {% endif %}
        class="add-to-cart primary" 
        title="{{ button_cart }} {{ product.name }}"
      >
        <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-cart"></use></svg>
        <span>{{ button_cart }}</span>
      </button>
      <button type="button" data-action="wishlistAdd" data-product-id="{{ product.product_id }}" aria-haspopup="dialog" class="wishlist" title="{{ button_wishlist }}">
        <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-heart"></use></svg>
      </button>
      <button type="button" data-action="compareAdd" data-product-id="{{ product.product_id }}" aria-haspopup="dialog" class="compare" title="{{ button_compare }}">
        <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-compare"></use></svg>
      </button>
    </div>
  </div>
</article>
{# {% endcache %} #}