{{ header }}
{% include 'default/template/common/breadcrumbs.twig' %}
<div id="wrapper">
  {{ column_left }}
  <main role="main" id="product" data-product-id="{{ product_id }}" style="view-transition-name: i_{{ product_id }};">
    {{ content_top }}
    {# Header #}
    <hgroup class="flex row wrap align-center justify-space-between ">
      <div class="">
        <h1 class="productName">{{ h1 }}</h1>
        {% include "default/template/elements/rating_stars.twig" %}
      </div>
      <div class="">
        <div class="scroll-x">
          {% if description %}<a class="button" href="#description" title="{{ tab_description }}">{{ tab_description }}</a>{% endif %}
          {% if images %}<a class="button" href="#images" title="{{ tab_images }}">{{ tab_images }}</a>{% endif %}
          {% if facetsData %}<a class="button" href="#specification" title="{{ tab_attributes }}">{{ tab_attributes }}</a>{% endif %}
          {% if lastReviews %}<a class="button" href="#reviews" title="{{ tab_reviews|format(reviews) }}">{{ tab_reviews|format(reviews) }}</a>{% endif %}
          {% if relatedProduct %}<a class="button" href="#related" title="{{ tab_related|format(related) }}">{{ tab_related|format(related) }}</a>{% endif %}
        </div>
      </div>
    </hgroup>
    <section class="productTop flex wrap row gap">
      <div id="images" class="columnLeft block">
        <div class="scroll-x snap single markers">
          {% for key, img in images.covers %}
            <figure>
              <img decoding="async" loading="lazy" src="{{ img.src }}" alt="{{ img.description }}" title="{{ img.description }}" width="{{ img.width }}" height="{{ img.height }}" />
            </figure>
          {% endfor %}
        </div>
      </div>
      <div class="columnRight flex column gap">
        <div class="columnLeft flex column gap block">
          {% include "default/template/elements/product_prices.twig" with {product: _context} %}
          {% include "default/template/elements/product_options.twig" %}
          {% include "default/template/elements/product_buttons.twig" with {product: _context} %}
          {# Recurrings #}
        </div>
        <div class="columnRight flex row wrap gap">
          {% if manufacturerData %}
            <div class="columnLeft flex block">
              <div class="flex column gap align-center justify-center">
                <a title="{{ manufacturer_page_title|format(manufacturerData.name) }}" href="{{ manufacturerData.url }}" class="flex align-center column">
                  <span class="h3 b">{{ manufacturerData.name }}</span>
                  <img src="{{ manufacturerData.image }}" loading="lazy" />
                </a>
                <a title="{{ manufacturer_facet_title|format(manufacturerData.name, parentData.name) }}" href="{{ manufacturerData.facetLink }}" class="flex b">{{ manufacturer_facet_link|format(manufacturerData.name, parentData.name) }} <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-chevron-right"></use></svg></a>
              </div>
            </div>
          {% endif %}
          <div class="columnRight block flex column gap">
            {% if shippingMethods %}
              <div class="shippingMethods flex column gap">
                {% for code, method in shippingMethods %}
                  <div class="shippingMethod block flex gap align-center">
                    {% if method.image.src %}
                      <img src="{{ method.image.src }}" width="{{ method.image.width }}" height="{{ method.image.height }}" loading="lazy" class="deliveryMethod">
                    {% endif %}
                    <div>
                    <p><span class="h5">{{ method.quote[code].title }}</span></p>
                    <p>{% if method.quote[code].cost == 0 %}<span class="b text-warning">{{ text_shipping_free }}</span>{% else %}<span class="b">{{ method.quote[code].text }}</span>{% endif %}</p>
                    {% if method.terms %}
                      <p class="text-sm">{{ method.terms }}</p>
                    {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if paymentMethods %}
              <div class="paymentMethods flex column gap">
                {% for code, method in paymentMethods %}
                  <div class="paymentMethod block flex gap align-center">
                    {% if method.image.src %}
                      <img src="{{ method.image.src }}" width="{{ method.image.width }}" height="{{ method.image.height }}" loading="lazy" class="deliveryMethod">
                    {% endif %}
                    <div>
                      <p class="h5">{{ method.title }}</p>
                      {% if method.terms %}
                        <p class="text-sm">{{ method.terms }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    {% if description %}
      <section id="description" class="block">
        <span class="h2">{{ tab_description }}</span>
        <article role="article">{{ description }}</article>
      </section>
    {% endif %}

    {% if facetsData.facets %}
      <section id="specification" class="block ">
        <span class="h2">{{ product_features_table|format(name) }}</span>
        <div class="tableWrapper">
          <table id="featuresTable">
            <thead>
              <tr>
                <th scope="col" class="colFeatureName">{{ facet_name }}</th>
                <th scope="col" class="colFeatureValue">{{ facet_value }}</th>
              </tr>
            </thead>
            <tbody>
              {% for groupKey, groupSets in facetsData.facets %}
                {% for setKey, group in groupSets %}
                  {% set facets = group.facets %}
                  {% for i, facet in facets %}
                    <tr>
                      {% if loop.first %}
                        <th class="colFeatureName" scope="rowgroup" rowspan="{{ facets|length }}">
                          {{ group.groupName }}
                        </th>
                      {% endif %}
                      <td class="colFeatureValue">
                        {% if facet.image %}
                          <img src="{{ facet.image.src }}" width="{{ facet.image.width }}" height="{{ facet.image.width }}" title="{{ facet.facetName }}" loading="lazy" class="facetImage" />
                        {% endif %}
                        <a href="{{ facet.url }}" title="{{ facet_link_title|format(parentData.name, facet.groupName, facet.facetName) }}">{{ facet.facetName }}</a>{% if facet.description %} {{ facet.description }}{% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    {% endif %}
    
    {# Reviews #}
    {% if lastReviews %}
      <section id="reviews" class="block flex column gap">
        <span class="h2">{{ heading_reviews }}</span>
        {% for review in lastReviews %}
          <article id="review_{{ review.reviewId }}" class="review block">
            <figure>
              <div class="flex gap justify-space-between">
                <figcaption>
                  <svg class="i" aria-hidden="true"><use href="catalog/view/theme/default/img/icons.svg#i-user"></use></svg>
                  <span class="author b">{{ review.author }}</span>, 
                  <time datetime="{{ review.review_date }}">{{ review.review_date }}</time>
                </figcaption>
                {% include "default/template/elements/rating_stars.twig" with {rating: review.review_rating, reviews: false} %}
              </div>
              <blockquote cite="{{ url }}#review_{{ review.reviewId }}">
                <p>{{ review.review_text }}</p>
              </blockquote>
            </figure>
          </article>
        {% endfor %}
      </section>
    {% endif %}
      
    {# Related products #}
    {% if relatedProducts %}
      <div class="module">
        <span class="h2">{{ heading_related }}</span>
        <div id="related" class="scroll-x">
          {% for product in relatedProducts %}
            {% include 'default/template/product/product_miniature.twig' with {product: product} %}
          {% endfor %} 
        </div>
      </div>
    {% endif %}
    {{ content_bottom }}

    {% if seoDescription %}
      <div role="complementary" class="additionalInfo" aria-label="{{ aria_seo_description }}">{{ seoDescription }}</div>
    {% endif %}
  
  </main>
  {{ column_right }}
</div>
{% include "default/template/elements/seo_footer.twig" with {seoFooter: seoFooter} %}

{{ footer }} 
