{# {% if seoFooter %}
  <section class="tabWrapper flex column">
    {% for tab in seoFooter %}
      <details name="tabName" {% if loop.first %}open{% endif %}>
        <summary>{{ tab.name }}</summary>
        <div class="tabContent">
          {{ tab.description }}
        </div>
      </details>
    {% endfor %}
  </section>
{% endif %} #}
{% if seoFooter %}
  <section class="flex column tabs">
    <span id="footerTitle" class="h3">{{ tab_seo_footer }}</span>
    <div class="tabsTitle">
      <ul aria-labelledby="footerTitle" class="flex row gap unstyled">
        {% for key, tab in seoFooter %}
          <li><a id="tab_{{ key }}" href="#tab_key_{{ key }}" class="button tabToggle {% if loop.first %}active{% endif %}">{{ tab.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="tabsContainer flex column" aria-labelledby="tab_{{ key }}">
      {% for key, tab in seoFooter %}
        <div id="tab_key_{{ key }}" class="{% if loop.first %}active{% endif %} tabContent flex block width-100" {% if not loop.first %}aria-hidden="true"{% endif %}>
          {{ tab.description }}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
