{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="submit" form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>
        <button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      {# <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-model">{{ entry_model }}</label>
              <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-price">{{ entry_price }}</label>
              <input type="text" name="filter_price" value="{{ filter_price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-quantity">{{ entry_quantity }}</label>
              <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-status">{{ entry_status }}</label>
              <select name="filter_status" id="input-status" class="form-control">
                <option value=""></option>
                  {% if filter_status == '1' %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                    <option value="1">{{ text_enabled }}</option>
                  {% endif %}

                  {% if filter_status == '0' %}
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                    <option value="0">{{ text_disabled }}</option>
                  {% endif %}
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div> #}
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td style="width: 70px" class="text-center">{{ column_image }}</td>
                      <td class="text-left">
                        {% if sort == 'name' %} 
                          <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> 
                        {% endif %}
                        {% if sort == 'p.model' %} 
                          <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a> {% else %} <a href="{{ sort_model }}">{{ column_model }}</a> 
                        {% endif %}
                      </td>
                      <td>{{ column_seo }}</td>
                      <td style="width: 200px" class="text-center" data-collapse-selector="filterColumn" >{{ column_filters }}<button type="button" class="collapseColumn pull-right">&harr;</button></td>
                      <td style="width: 200px" class="text-center" data-collapse-selector="optionColumn" >{{ column_options }}<button type="button" class="collapseColumn pull-right">&harr;</button></td>
                      <td style="width: 50px" class="text-center">{{ column_attributes }}</td>
                      <td style="width: 50px" class="text-center">{% if sort == 'p.price' %} <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a> {% else %} <a href="{{ sort_price }}">{{ column_price }}</a> {% endif %}</td>
                      <td style="width: 50px" class="text-center">{% if sort == 'p.quantity' %} <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a> {% else %} <a href="{{ sort_quantity }}">{{ column_quantity }}</a> {% endif %}</td>
                      <td style="width: 100px" class="text-center">{% if sort == 'p2s.status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                      <td style="width: 50px" class="text-center">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-center">{% if product.product_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                      {% endif %}</td>
                    <td class="text-center">
                      <img src="{{ product.image }}" class="img-thumbnail" loading="lazy" />
                    </td>
                    <td class="text-left">
                      <p><b>{{ product.name }}</b>&nbsp;({{ product.model }})</p>
                      <p>
                        {% if product.parent_id %}
                          <a href="{{ store.url }}index.php?route=product/category&category_id={{ product.parent_id }}">{{ product.parent_name }}</a>
                        {% else %}
                          <span class="text-danger">{{ error_no_parent }}</span>
                        {% endif %}
                      </p>
                      <p>
                        {% for store in stores %}
                          {% if store.store_id in product.stores %}
                            {% if product.status_to_store[store.store_id] == 1 %}
                              <span class="storeBadge badge alert-success" data-store-id="{{ store.store_id }}" data-product-link="{{ store.url }}index.php?route=product/product{% if product.parent_id %}&category_id={{ product.parent_id }}{% endif %}&product_id={{ product.product_id }}">
                                <a style="color: inherit;" href="{{ store.url }}index.php?route=product/product{% if product.parent_id %}&category_id={{ product.parent_id }}{% endif %}&product_id={{ product.product_id }}" target="_blank">
                                  <i class="fa fa-play"></i>&nbsp;{{ store.name }}
                                </a>
                              </span>
                            {% else %}
                              <span class="storeBadge badge" data-store-id="{{ store.store_id }}" data-product-link="{{ store.url }}index.php?route=product/product{% if product.parent_id %}&category_id={{ product.parent_id }}{% endif %}&product_id={{ product.product_id }}"><i class="fa fa-pause"></i>&nbsp;{{ store.name }}</span>
                            {% endif %}
                          {% else %}
                            <span class="storeBadge badge alert-danger"><i class="fa fa-times"></i>&nbsp;{{ store.name }}</span>
                          {% endif %}
                        {% endfor %}
                      </p>
                    </td>
                    <td>
                      <p>
                        <span class="badge badge-sm 
                          {% if product.seo.descriptionLength > 2000 %} alert-success {% elseif product.seo.descriptionLength > 500 %} alert-warning {% else %} alert-danger {% endif %}">
                          {{ text_description_length }}:&nbsp;{{ product.seo.descriptionLength }}&nbsp;{{ text_characters_count }}
                          {% if product.seo.descriptionLength > 500 %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                        </span>
                        <span class="badge badge-sm {% if product.seo.hasFooter %}alert-success{% else %}alert-danger{% endif %}">
                          {{ tab_footer }}:&nbsp;
                          {% if product.seo.hasFooter %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                        </span>

                        <span class="badge badge-sm {% if product.seo.hasTag %}alert-success{% else %}alert-danger{% endif %}">
                          {{ tab_tag }}:&nbsp;
                          {% if product.seo.hasTag %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                        </span>

                        <span class="badge badge-sm {% if product.seo.hasFaq %}alert-success{% else %}alert-danger{% endif %}">
                          {{ tab_faq }}:&nbsp;
                          {% if product.seo.hasFaq %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                        </span>

                        <span class="badge badge-sm {% if product.seo.hasHowTo %}alert-success{% else %}alert-danger{% endif %}">
                          {{ tab_how_to }}:&nbsp;
                          {% if product.seo.hasHowTo %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                        </span>
                      </p>
                    </td>
                    <td class="text-left">
                      <div style="max-height: 100px; overflow-y: auto">
                        {% set count = 0 %}
                        {% for groupId, group in product.product_filters %}
                          <p style="cursor: default" title="{{ group.name }}">
                            {% for itemId, item in group.values %}
                              <a href="index.php?route=catalog/filter/edit&user_token={{ user_token }}&filter_group_id={{ groupId }}" title="{{ edit_filter_group|format(group.name) }}" target="_blank"><span class="badge badge-sm">{{ item }}</span></a>
                              {% set count = count + 1 %}
                            {% endfor %}
                          </p>
                        {% endfor %}
                      </div>
                    </td>
                    <td class="text-left">
                      <div style="max-height: 100px; overflow-y: auto">
                        {% set count = 0 %}
                        {% for groupId, group in product.product_options %}
                          <p style="cursor: default">
                            {% for itemId, item in group.values %}
                              <a href="index.php?route=catalog/option/edit&user_token={{ user_token }}&option_id={{ groupId }}" title="{{ edit_option_group|format(group.name) }}" target="_blank"><span class="badge badge-sm">{{ item }}</span>
                              {% set count = count + 1 %}
                            {% endfor %}
                          </p>
                        {% endfor %}
                      </div>
                    </td>
                    <td class="text-center"><b>{{ product.product_attributes }}</b></td>
                    <td class="text-right">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      <div class="text-danger"><b>{{ product.special }}</b></div>
                      {% else %}
                      <b>{{ product.price }}</b>
                      {% endif %}
                    </td>
                    <td class="text-center">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>
                    <td class="text-center">
                      <div class="btn-group">
                        {% if product.status_to_store[currentStore] == '1' %}
                          <button {% if currentStore not in product.stores %}disabled style="background: #999; border-color: #777"{% endif %} class="btn btn-success statusBtn" data-product-id="{{ product.product_id }}" data-product-status="{{ product.status_to_store[currentStore] }}" type="button"><i class="fa fa-play"></i></button>
                        {% else %}
                          <button {% if currentStore not in product.stores %}disabled style="background: #999; border-color: #777"{% endif %} class="btn btn-danger statusBtn" data-product-id="{{ product.product_id }}" data-product-status="{{ product.status_to_store[currentStore] }}" type="button"><i class="fa fa-stop"></i></button>
                        {% endif %}
                        {% if product.is_available == '1' %}
                          <button {% if currentStore not in product.stores %}disabled style="background: #999; border-color: #777"{% endif %} class="btn btn-success isAvailableBtn" data-product-id="{{ product.product_id }}" data-product-is-available="{{ product.is_available }}" type="button"><i class="fa fa-shopping-cart"></i></button>
                        {% else %}
                          <button {% if currentStore not in product.stores %}disabled style="background: #999; border-color: #777"{% endif %} class="btn btn-danger isAvailableBtn" data-product-id="{{ product.product_id }}" data-product-is-available="{{ product.is_available }}" type="button"><i class="fa fa-shopping-cart"></i></button>
                        {% endif %}
                      </div>
                    </td>
                    <td class="text-center"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="11">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}

	var filter_price = $('input[name=\'filter_price\']').val();

	if (filter_price) {
		url += '&filter_price=' + encodeURIComponent(filter_price);
	}

	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=catalog/product&user_token={{ user_token }}' + url;
});
//--></script> 
  <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script>

{# Change order status btn #}
<script>
document.addEventListener('click', async e => {
  if (e.target.closest('.statusBtn')) {
    const userToken     = "{{ user_token }}";
    const currentStore  = "{{ currentStore }}";
    const storeName     = "{{ stores[currentStore].name }}";
    const storeBadge    = e.target.closest('tr').querySelector(`[data-store-id="${currentStore}"]`);
    const productLink   = storeBadge.dataset.productLink;
    const statusBtn     = e.target.closest('.statusBtn');
    const productId     = statusBtn.dataset.productId;
    const productStatus = statusBtn.dataset.productStatus;
    const body = new FormData();
    body.append('product_id', productId);
    body.append('status', productStatus);

    let response = await fetch(`index.php?route=catalog/product/fetchSetProductStatus&user_token=${userToken}`, {method: "POST", body}).then(r => r.json());
    if (response.newStatus === 1) {
      storeBadge.outerHTML = `<span class="storeBadge badge alert-success" data-store-id="${currentStore}" data-product-link="${productLink}"><a style="color: inherit;" href="${productLink}" target="_blank"><i class="fa fa-play"></i>&nbsp;${storeName}</a></span>`;
      statusBtn.outerHTML  = `<button class="btn btn-success statusBtn" data-product-id="${productId}" data-product-status="${response.newStatus}" type="button"><i class="fa fa-play"></i></button>`;
    } else {
      storeBadge.outerHTML = `<span class="storeBadge badge" data-store-id="${currentStore}" data-product-link="${productLink}"><i class="fa fa-pause"></i>&nbsp;${storeName}</span>`;
      statusBtn.outerHTML  = `<button class="btn btn-danger statusBtn" data-product-id="${productId}" data-product-status="${response.newStatus}" type="button"><i class="fa fa-stop"></i></button>`;
    }
  }
  if (e.target.closest('.isAvailableBtn')) {
    const userToken = "{{ user_token }}";
    const isAvailableBtn = e.target.closest('.isAvailableBtn');
    const productId = isAvailableBtn.dataset.productId
    const isAvailable = isAvailableBtn.dataset.productIsAvailable
    const body = new FormData();
    body.append('product_id', productId);
    body.append('is_available', isAvailable);

    let response = await fetch(`index.php?route=catalog/product/fetchSetProductIsAvailable&user_token=${userToken}`, {method: "POST", body}).then(r => r.json());
    if (response.newIsAvailable === 1) {
      isAvailableBtn.outerHTML = `<button class="btn btn-success isAvailableBtn" data-product-id="${productId}" data-product-is-available="${response.newIsAvailable}" type="button"><i class="fa fa-shopping-cart"></i></button>`;
    } else {
      isAvailableBtn.outerHTML = `<button class="btn btn-danger isAvailableBtn" data-product-id="${productId}" data-product-is-available="${response.newIsAvailable}" type="button"><i class="fa fa-shopping-cart"></i></button>`;
    }
  }
})
</script>

</div>
{{ footer }} 