{% if facetSets %}
    <span class="h3">
      {{ heading_title }}
    </span>
      <select id="sortOrder" class="flex width-100">
        {% for sortOrder in sortOrders %}
          <option value="{{ sortOrder.value }}" {% if requestSort == sortOrder.value %}selected{% endif %}>{{ sortOrder.name }}</option>
        {% endfor %}
      </select>
    <a class="button primary" href="{{ resetLink }}">{{ button_reset_filters }}</a>
    <div class="facetFilter flex column">
      {% for facetType, facetSet in facetSets %}
        {% for key, facetGroup in facetSet %}
          <div class="facetGroup flex column">
            <span class="h4">{{facetGroup.group_name}}</span>
            {% for facetItem in facetGroup.filters %}
              {% if facetItem.facet_is_available %}
                <a href="{{ facetItem.url }}" class="facetItem {% if facetItem.facet_is_selected %}active{% endif %}" {% if facetItem.facet_is_selected %}rel="nofollow"{% endif %}>
                  <input id="{{ facetItem.facet_type }}_{{ facetItem.facet_id }}" type="checkbox" data-facet-type="{{ facetType }}" value="{{ facetItem.facet_id }}" {% if facetItem.facet_is_selected %} checked="checked" {% endif %} class="facetInput" />
                  <label for="{{ facetItem.facet_type }}_{{ facetItem.facet_id }}" class="facetLabel">
                    <span class="facetName">{{ facetItem.facet_name }}</span>
                    <span class="productCount button">{% if facetGroup.group_is_selected and not facetItem.facet_is_selected %}+{% endif %}{% if facetItem.facet_is_selected %}{{ facetItem.base_count }}{% else %}{{ facetItem.current_count }}{% endif %}</span>
                  </label>
                </a>
              {% else %}
              <span class="facetItem">
                <input type="checkbox" class="facetInput" disabled />
                <span class="facetName disabled">{{ facetItem.facet_name }}</span>
              </span>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
{% endif %}
<script>

document.getElementById('sortOrder')?.addEventListener('change', (e) => {
  setParams('sort', e.target.value);
});

document.querySelectorAll('.facetInput')?.forEach(e => {
  e.addEventListener('change', () => {
    window.location.href = e.parentElement.href;
  });
});

function setParams(param, value = null) {

  const url = new URL(window.location.href);

  if (value) {
    url.searchParams.set(param, value);
  } else {
    url.searchParams.delete(param);
  }

  window.location.href = url.toString();

  // For future reference when filter will get products by JS fetch
  // history.replaceState(null, '', url);
}

</script>
