{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-article-list').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if text_success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ text_success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-article-list">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td style="width: 70px" class="text-center">{{ column_image }}</td>
                      <td style="width: 300px;" class="text-left"><a href="{{ sort_name }}" {% if sort == 'name' %}class="{{ order|lower }}"{% endif %}>{{ column_name }}</a></td>
                      <td style="width: 300px;" class="text-left"><a href="{{ sort_tags }}" {% if sort == 'tags' %}class="{{ order|lower }}"{% endif %}>{{ entry_parent_tag }}</a></td>
                      <td>{{ column_seo }}</td>
                      <td class="text-center" style="width: 60px"><a href="{{ sort_date_added }}" {% if sort == 'date_added' %}class="{{ order|lower }}"{% endif %}>{{ column_date_added }}</a></td>
                      <td class="text-center" style="width: 60px"><a href="{{ sort_status }}" {% if sort == 'status' %}class="{{ order|lower }}"{% endif %}>{{ column_status }}</a></td>
                      <td style="width: 60px"></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% if items %}
                      {% for article in items %}
                        <tr>
                          <td class="text-center"><input type="checkbox" name="selected[]" value="{{ article.article_id }}" {% if article.article_id in selected %}checked="checked"{% endif %} /></td>
                          <td class="text-center"><img class="img-thumbnail" src="{{ article.image }}" loading="lazy"></td>
                          <td class="text-left"><b>{{ article.name }}</b></td>
                          <td class="text-left">
                            <div>
                              {% for tag in article.tags %}
                                <span class="badge badge-sm {% if tag.is_main == 1 %}strong alert-success{% endif %}">
                                  {{ tag.name }}
                                </span>
                              {% endfor %}
                            </div>
                          </td>
                          <td>
                            <p>
                              <span class="badge badge-sm 
                                {% if article.seo.descriptionLength > 2000 %} alert-success {% elseif article.seo.descriptionLength > 500 %} alert-warning {% else %} alert-danger {% endif %}">
                                {{ text_description_length }}:&nbsp;{{ article.seo.descriptionLength }}&nbsp;{{ text_characters_count }}
                                {% if article.seo.descriptionLength > 500 %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                              </span>
                              <br>
                              <span class="badge badge-sm {% if article.seo.hasFooter %}alert-success{% else %}alert-danger{% endif %}">
                                {{ tab_footer }}:&nbsp;
                                {% if article.seo.hasFooter %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                              </span>

                              <span class="badge badge-sm {% if article.seo.hasTag %}alert-success{% else %}alert-danger{% endif %}">
                                {{ tab_tag }}:&nbsp;
                                {% if article.seo.hasTag %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                              </span>

                              <span class="badge badge-sm {% if article.seo.hasFaq %}alert-success{% else %}alert-danger{% endif %}">
                                {{ tab_faq }}:&nbsp;
                                {% if article.seo.hasFaq %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                              </span>

                              <span class="badge badge-sm {% if article.seo.hasHowTo %}alert-success{% else %}alert-danger{% endif %}">
                                {{ tab_how_to }}:&nbsp;
                                {% if article.seo.hasHowTo %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                              </span>
                            </p>
                          </td>
                          <td class="text-center">{{ article.date_added }}</td>
                          <td>
                            {% if article.status == '1' %}
                              <button class="btn btn-success statusBtn" data-article-id="{{ article.article_id }}" data-article-status="{{ article.status }}" type="button"><i class="fa fa-play"></i></button>
                            {% else %}
                              <button class="btn btn-danger statusBtn" data-article-id="{{ article.article_id }}" data-article-status="{{ article.status }}" type="button"><i class="fa fa-stop"></i></button>
                            {% endif %}
                          </td>
                          <td class="text-center"><a href="{{ article.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr><td class="text-center" colspan="7">{{ text_no_results }}</td></tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{# Change order status btn #}
<script>
document.addEventListener('click', async e => {
  if (e.target.closest('.statusBtn')) {
    const userToken = "{{ user_token }}";
    const statusBtn = e.target.closest('.statusBtn');
    const articleId = statusBtn.dataset.articleId
    const articleStatus = statusBtn.dataset.articleStatus
    const body = new FormData();
    body.append('article_id', articleId);
    body.append('status', articleStatus);

    let response = await fetch(`index.php?route=blog/article/fetchSetArticleStatus&user_token=${userToken}`, {method: "POST", body}).then(r => r.json());
    if (response.newStatus === 1) {
      statusBtn.outerHTML = `<button class="btn btn-success statusBtn" data-article-id="${articleId}" data-article-status="${response.newStatus}" type="button"><i class="fa fa-play"></i></button>`;
    } else {
      statusBtn.outerHTML = `<button class="btn btn-danger statusBtn" data-article-id="${articleId}" data-article-status="${response.newStatus}" type="button"><i class="fa fa-stop"></i></button>`;
    }
  }
})
</script>

{{ footer }}
