{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-article" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-article" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description"  data-toggle="tab">{{ tab_description }}</a></li>
            <li><a href="#tab-images"       data-toggle="tab">{{ tab_image }}</a></li>
            <li><a href="#tab-faq"          data-toggle="tab">{{ tab_faq }}</a></li>
            <li><a href="#tab-how_to"       data-toggle="tab">{{ tab_how_to }}</a></li>
            <li><a href="#tab-footer"       data-toggle="tab">{{ tab_footer }}</a></li>
          </ul>
          <div class="tab-content">
            {% set data        =  article_description  %}
            {% set name_prefix = 'article_description' %}
            <div class="tab-pane active" id="tab-description">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="parent_tag">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="article[status]" class="form-control">
                    <option value="1" {% if article.status == 1 %}selected{% endif %} >{{ option_on }}</option>
                    <option value="0" {% if article.status == 0 %}selected{% endif %} >{{ option_off }}</option>
                  </select>
                </div>
              </div>

              {# Parent tag autocomplete #}
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="parent_tag">{{ entry_parent_tag }}</label>
                <div class="col-sm-10">

                  {# Selected items #}
                  <div class="niftySelected">
                    {% for row in article_tags %}
                      <div class="niftyItem" data-id="{{ row.blog_tag_id }}">
                        <span style="flex: 1">
                          <b>{{ row.name }}</b>
                          <span>
                            {{ is_main_tag }}<input type="radio" style="all: revert" name="is_main" value="{{ row.blog_tag_id }}" {% if row.is_main %}checked{% endif %} />
                          </span>
                        </span>
                        <button style="padding: 0; line-height: 0; width: 25px; height: 25px;" type="button" class="btn btn-danger niftyItemDelete" onclick="this.closest('.niftyItem').remove()"><i class="fa fa-times"></i></button>
                        <input hidden name="article_tags[]" value="{{ row.blog_tag_id }}" />
                      </div>
                    {% endfor %}
                  </div>

                  {# Autocomplete input #}
                  <input 
                    id="parent_tag" 
                    type="text" 
                    class="form-control niftyAutocomplete" 
                    placeholder="{{ entry_parent_tag }}" 
                  />

                  {# Error if parent tag is not selected #}
                  {% if error_select_tag %}
                    <div class="text-danger">{{ error_select_tag }}</div>
                  {% endif %}
                  {% if error_select_main_tag %}
                    <div class="text-danger">{{ error_select_main_tag }}</div>
                  {% endif %}
                  
                </div>
              </div>
              {% include "common/tab_description.twig" %}
            </div>
            <div class="tab-pane" id="tab-images">{% include "common/tab_images.twig"  with {name_prefix: 'article_images', images: article_images} %}</div>
            <div class="tab-pane" id="tab-footer">{% include "common/tab_footer.twig" %}</div>
            <div class="tab-pane" id="tab-faq">{% include "common/tab_faq.twig" %}</div>
            <div class="tab-pane" id="tab-how_to">{% include "common/tab_how_to.twig" %}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const userToken = "{{ user_token }}";
      const isMainTag = " {{ is_main_tag }}";
      const input = document.getElementById('parent_tag');
      const autocomplete = new niftyAutocomplete({
        input,
        selectedItemsBox: input.previousElementSibling,
        idKey: 'blog_tag_id',
        request: {
          url: `${location.protocol}${location.host}/admin/index.php?route=blog/tag/autocomplete`,
          // Set GET params
          getParams: {
            user_token: userToken,
          },
          // Set POST params of autocomplete
          postParams: {
            name: () => {
              return input.value;
            }
          }
        },
        item: {
          searchTemplate: (row) => `<div class="niftyItemData"><p><b>${row.name}</p></div>`,
          selectTemplate: (row) => `
            <div class="niftyItem" data-id="${row.blog_tag_id}">
              <span style="flex: 1">
                <b>${row.name}</b>
                <span>
                  ${isMainTag}<input ${!document.querySelector('[name="is_main"]:checked') ? 'checked' : ''} type="radio" style="all: revert" name="is_main" value="${row.blog_tag_id}">
                </span>
              </span>
              <button style="padding: 0; line-height: 0; width: 25px; height: 25px;" type="button" class="btn btn-danger niftyItemDelete"><i class="fa fa-times"></i></button>
              <input hidden name="article_tags[]" value="${row.blog_tag_id}" />
            </div>
          `,
        },
        behavior: {
          
        }
      });
    });

    // Switch main parent tag on autocomplete item remove if previous main (checked) tag was removed
    document.addEventListener('click', function(e) {
      const btn = e.target.closest('.niftyItemDelete');
      if (!btn) {return;}

      const item = btn.closest('.niftyItem');
      const isMain = item.querySelector('input[type="radio"]').checked;

      item.remove();
      // If deleted tag is main check first tag in selected tags list
      if (isMain) {
        const first = document.querySelector('.niftyItem input[type="radio"]');
        if (first) {first.checked = true;}
      }
    });
  </script>

  <script type="text/javascript">
    $('#language a:first').tab('show');
  </script>

  <script defer type="text/javascript" src="view/javascript/niftyAutocomplete.js"></script>
  <link href="view/stylesheet/niftyAutocomplete.css" rel="stylesheet" />

  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  
  <script type="text/javascript" src="view/javascript/summernote/summernote.min.js"></script>
  <link href="view/javascript/summernote/summernote.min.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
</div>
{{ footer }}
