{% cache "footer_lang" ~ language_id ~ "store_" ~ store_id %}
  <footer class="flex wrap row">
    {% if informations %}
      <div class="flex column">
        <span class="h5">{{ text_information }}</span>
        {% for information in informations %}
          <a href="{{ information.href }}">{{ information.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
    <div class="flex column">
      <span class="h5">{{ text_service }}</span>
      <a href="{{ contact }}">{{ text_contact }}</a>
      <a href="{{ return }}">{{ text_return }}</a>
      <a href="{{ sitemap }}">{{ text_sitemap }}</a>
      <a href="{{ voucher }}">{{ text_voucher }}</a>
      <a href="{{ affiliate }}">{{ text_affiliate }}</a>
    </div>
    <div class="flex column">
      <span class="h5">{{ text_extra }}</span>
      <a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
      <a href="{{ special }}">{{ text_special }}</a>
      <a href="{{ bestseller }}">{{ text_bestseller }}</a>
    </div>
    <div class="flex column">
      <span class="h5">{{ text_account }}</span>
      <a href="{{ account }}">{{ text_account }}</a>
      <a href="{{ order }}">{{ text_order }}</a>
      <a href="{{ wishlist }}">{{ text_wishlist }}</a>
      <a href="{{ newsletter }}">{{ text_newsletter }}</a>
    </div>
  <div class="powered flex justify-center width-100">
    <p>{{ powered }}</p>
  </div>
</footer>
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
{% endcache %}
</body>
</html>